$header-colours: rgb(252, 92, 0);
$standard-white: white;

@mixin container {
  margin: 10px 10px 10px 10px;
  text-align: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin container-pics {
  width: 95%;
  height: 33vh;
  margin: 0 10px 10px 10px;
}

@mixin four-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 251, 245);
  padding: 10px;
}

@mixin four-div-img {
  width: 100%;
  margin: 0;
  height: 120px;
}

@mixin small-img {
  width: 50px;
  height: 50px;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

@font-face {
  font-family: "custom";
  src: url(font/JosefinSans-VariableFont_wght.ttf) format("truetype");
}

body {
  width: 100%;
  height: fit-content;
  font-family: "custom", Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  background-color: $standard-white;
  z-index: 1;

  .img-2-navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > img {
      @include small-img;

      width: 100px;
      height: 54px;
    }

    .black-nav {
      display: none;
    }

    .white-nav {
      .white-nav-list {
        display: none;
      }

      .search-div {
        background-color: $standard-white;
        border: 0;
        height: 50px;

        > img {
          @include small-img;
        }
      }

      .fall-back-nav {
        background-color: $standard-white;
        border: 0;
        height: 50px;

        > img {
          @include small-img;
        }
      }
    }

  }

  .yellow-nav {
    text-align: center;
    background-color: rgb(255, 208, 0);
    padding: 10px;
  }
}

/* first div */

/* Container holding the image and the text */
.the-first-three-img {
  height: fit-content;

  .container {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 9.25)), url(images/pic-2.jpeg);

    @include container;

    .con-top {
      display: none;
    }
  }

  .container-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 9.25)), url(images/pic-3.png);

    @include container;
  }

  .container-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 9.25)), url(images/pic-4.jpeg);

    @include container;
  }
}

.bottom-left {
  bottom: 20px;
  left: 16px;
  padding: 100px 10px 10px 10px;
  text-align: left;

  .bottom-left-header {
    font-size: 20px;
  }
}

/* Bottom left text */
.bottom-left,
p {
  font-weight: 100;
}

/* 8 pic div css should all be here */
.eight-pic-div-header {
  font-size: 30px;
  margin: 10px 0 20px 10px;
  color: $header-colours;
  font-weight: 900;
}

.the-8-divs {
  display: flex;
  flex-flow: row;
  margin: 10px 10px 10px 10px;

  .the-8-divs-pics {
    margin-right: 10px;
    width: 80px;
    height: 80px;
  }

  .the-8-divs-first-p {
    font-weight: 300;
  }

  .the-8-divs-second-p {
    color: rgb(184, 184, 184);
  }
}

/* latest fund round here */

.funding-round {
  font-size: 40px;
  margin: 10px 0 20px 10px;
  color: $header-colours;
  font-weight: 900;

  .fund-1-divs {
    padding-bottom: 20px;
  }

  .fund-2-divs {
    font-size: 15px;
  }
}

.the-class-of-4-divs {
  width: 100vw;

  .ringer-div {
    @include four-div;

    .ringer-img {
      @include four-div-img;
    }
  }

  .Swiss-div {
    @include four-div;

    .Swiss-img {
      @include four-div-img;
    }
  }

  .klook-div {
    @include four-div;

    .Klook-img {
      @include four-div-img;
    }
  }

  .wolt-div {
    display: none;
  }
}

.ring-3-divs {
  margin: 10px 0 20px 0;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid burlywood;
  width: 100%;
}

.ring-4-divs {
  margin: 10px 0 20px 15px;
  font-size: 18px;
}

.next-container {
  position: relative;
  text-align: center;
  color: $standard-white;
  height: 200px;
  margin: 0 10px 0 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .next-container-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    padding: 10px 10px 10px 10px;
    text-align: left;
  }
}

.latest-div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;

  .latest-div-div {
    display: flex;
    flex-direction: column;
    color: $header-colours;

    > p {
      font-weight: bolder;
    }
  }

  > img {
    height: 70px;
    width: 70px;
  }
}

ul,
li {
  font-size: 15px;
  margin: 10px 0 20px 10px;
}

.list-div > li {
  border-color: rgb(175, 174, 174);
  padding-bottom: 10px;
  border-bottom: 1px solid burlywood;
}

li::marker {
  color: red;
}

.new-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $header-colours;
  padding: 10px;
  font-size: 20px;
}

.new-second-div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 70px;

  > img {
    height: inherit;
    width: 70px;
  }

  .latest-sub-sub-div {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
  }
}

/* Style all font awesome icons */

footer {
  background-color: rgb(53, 52, 52);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .footer-icons {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 80%;

    > a {
      margin: 0 5px 0 5px;
    }
  }

  .footer-div {
    color: rgb(151, 151, 151);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0 20px 0;
    width: 100vw;
    flex-wrap: wrap;
  }
}

.fa {
  padding: 3px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;

  :hover {
    opacity: 0.7;
  }
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook,
.fa-twitter,
.fa-youtube,
.fa-instagram,
.fa-pinterest,
.fa-rss,
.fa-reddit {
  background: rgb(107, 106, 106);
  color: $standard-white;
  border-radius: 50%;
  padding: 10px 0 10px 0;
}

.last-footer {
  background-color: black;
  height: 150px;
  color: $standard-white;
  padding: 50px;
  text-align: center;

  .last-footer-fade {
    color: rgb(212, 212, 212);
  }
}

/* done by tolu and kareem */
@media (min-width: 767px) {
  header {
    .img-2-navs {
      display: flex;
      flex-direction: column;

      > img {
        display: none;
      }

      .two-nav {
        list-style-type: none;
        width: 100%;

        .black-nav {
          display: block;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: black;
          color: $standard-white;
          height: 50px;
          padding-right: 40px;
        }

        .white-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 50px;
          background-color: white;

          .white-nav-list {
            display: block;
            display: flex;
            flex-direction: row;
            list-style-type: none;
          }
        }
      }
    }

    .yellow-nav {
      text-align: left;
      padding: 0 0 0 20px;
    }
  }

  .fisrt-black-nav,
  .second-black-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .search-div {
    display: block;
  }

  .fall-back-nav {
    display: none;
  }

  /* end of header */

  /* first div */
  .the-first-three-img {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    .container {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .bottom-left {
        padding-top: 320px;
      }
    }

    .container-1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .container-2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  /* second div */
  .mega-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 10px 0 10px;

    .the-8-divs {
      display: flex;
      flex-direction: column;

      > img {
        width: 100%;
        height: 200px;
      }
    }
  }

  .the-8-divs-first-p,
  .the-8-divs-second-p {
    margin: 20px 0 10px 0;
  }

  .the-8-divs-first-p {
    font-weight: bolder;
  }

  /* third div */
  .funding-round {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;

    .fund-2-divs {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 20px;
      justify-content: space-evenly;
      width: 300px;
    }
  }

  .the-class-of-4-divs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* fourth div */
  .major-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 50px 20px 0 20px;
    gap: 30px;
  }

  /* fifth div */
  .fifth-div-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    height: 750px;

    .new-second-div {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      height: 150px;

      > img {
        width: 100%;
      }
    }
  }

  .latest-sub-sub-div > h3 {
    padding-top: 10px;
  }

  /* footer */
  .last-footer {
    width: 87%;
  }
}

/* done by tolu */

@media (min-width: 1023px) {
  .the-first-three-img {
    .container {
      background: linear-gradient(rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 9.25)) ,  url(images/pic-2.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .con-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >img {
          display: block;
          width: 300px;
          padding: 10px;
        }

        >p {
          display: block;
          text-align: right;
          padding: 10px 10px 10px 50px;
          font-size: xx-large;
          font-weight: 600;
        }
      }
    }
  }

  /* second div */
  .mega-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 30px 0 30px;
  }

  /* third div */
  .the-class-of-4-divs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .wolt-div {
      display: block;

      @include four-div;
    }
  }

  /* fourth div */
  .major-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  /* fifth div */
  .fifth-div-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    height: 500px;
  }
}
