* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

@font-face {
  font-family: "custom";
  src: url(font/JosefinSans-VariableFont_wght.ttf) format("truetype");
}

body {
  width: 100%;
  height: fit-content;
  font-family: "custom";
}

header {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  background-color: white;
}

.img-2-navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  width: 50px;
  height: 50px;
}

.black-nav {
  display: none;
}

.white-nav-list {
  display: none;
}

.search-div {
  background-color: aqua;
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 0%;
}

.fall-back-nav {
  background-color: rgb(174, 0, 255);
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 0%;
}

.yellow-nav {
  text-align: center;
  background-color: rgb(255, 208, 0);
}

/* Container holding the image and the text */
.the-first-three-img {
  height: fit-content;
}

.pic-2,
.pic-3,
.pic-4 {
  width: 95%;
  height: 33vh;
  margin: 0 10px 10px 10px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 16px;
  padding: 10px;
  text-align: left;
}

.bottom-left-header {
  font-size: 20px;
}

.bottom-left,
p {
  font-weight: 100;
}

/* 8 pic div css should all be here*/
.the-8-divs {
  display: flex;
  flex-flow: row;
  margin: 10px 10px 10px 10px;
}

.eight-pic-div-header {
  font-size: 30px;
  margin: 10px 0 20px 10px;
  color: rgb(252, 92, 0);
  font-weight: 900;
}

.the-8-divs-pics {
  margin-right: 10px;
  width: 80px;
  height: 80px;
}

.the-8-divs-first-p {
  font-weight: 300;
}

.the-8-divs-second-p {
  color: rgb(184, 184, 184);
}

/* latest fund round here */

.funding-round {
  font-size: 40px;
  margin: 10px 0 20px 10px;
  color: rgb(252, 92, 0);
  font-weight: 900;
}

.fund-1-divs {
  padding-bottom: 20px;
}

.fund-2-divs {
  font-size: 15px;
}

.the-class-of-4-divs {
  width: 100vw;
}

.ringer-div,
.Swiss-div,
.klook-div,
.wolt-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 251, 245);
  padding: 10px;
}

.wolt-div {
  display: none;
}

.ringer-img,
.Swiss-img,
.Klook-img,
.wolf-img {
  width: 100%;
  margin: 0;
}

.ring-3-divs {
  margin: 10px 0 20px 0;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid burlywood;
  width: 100%;
}

.ring-4-divs {
  margin: 10px 0 20px 15px;
  font-size: 18px;
}

/* for responsive websites */
@media (min-width: 475px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1538px) {
}
